$primary_LightRed: hsl(356, 100%, 66%);
$primary_Very_LightRed: hsl(355, 100%, 74%);
$primary_Very_DarkBlue: hsl(208, 49%, 24%);

$neutral_White: hsl(0, 0%, 100%);
$neutral_GrayishBlue: hsl(240, 2%, 79%);
$neutral_Very_DarkGrayishBlue: hsl(207, 13%, 34%);
$neutral_Very_DarkBlackBlue: hsl(240, 10%, 16%);

$gradient_Very_LightRed: hsl(13, 100%, 72%);
$gradient_LightRed: hsl(353, 100%, 62%);

$gradient_Very_DarkGrayBlue: hsl(237, 17%, 21%);
$gradient_Very_DarkDesaturatedBlue: hsl(237, 23%, 32%);

$overpass: "Overpass", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
